<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="WebTest">
        <classes>
            <class name="org.webTest.moodles.testScenario.TestLogin"/>
            <class name="org.webTest.moodles.testScenario.TestLoginAsGuest"/>
            <class name="org.webTest.moodles.testScenario.TestLogout"/>
            <class name="org.webTest.moodles.testScenario.TestDeleteCategory"/>
            <class name="org.webTest.moodles.testScenario.TestAddCategory"/>
            <class name="org.webTest.moodles.testScenario.TestDeleteCourse"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->